@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

:root {
  --full-slider-bar: hsl(174, 77%, 80%);
  --slider-background: hsl(174, 86%, 45%);
  --discount-background: hsl(14, 92%, 95%);
  --discount-text: hsl(15, 100%, 70%);
  --CTA-text: hsl(226, 100%, 87%);
  --slider-hover: #7aeadf;
  --slider-active: #24aea1;
  --toggle-hover: var(--slider-hover);
  --horizontal-line: #ecf0fb;

  --white: #ffffff;
  --empty-slider-bar: hsl(224, 65%, 95%);
  --toggle-background: hsl(223, 50%, 87%);
  --text-color: #848ead;
  --title-color: #293356;
  --CTA-background: var(--title-color);
  --box-shadow: #f1f5fe;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  background-image: url("./images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-color: var(--white);
}
/* Globals */
h1 {
  margin: 0;
}
p {
  margin: 0;
}
